* {
	box-sizing:border-box;
}
footer {
	background-color:#eeecec;
	padding:16px;
	text-align:center;
}

.line {
	width:100%;
	height:300px;
	background-color: #b3ee91;
	position: relative;
}
.red{
	width:300px;
	height:300px;
	-margin:0 auto;
	background-color: red;
	background: linear-gradient(to bottom, #b92b27, #1565c0);
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

